<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다음과 같이 DAO 클래스 이름과 같게하면 유지보수할 때 알아보기가 쉬워진다. -->
<!-- 알아보기가 쉬운 것뿐만이 아니라 스프링과 연동할 때 DAO 객체를 자동 생성이 가능하다. -->

<mapper namespace="bitcamp.java106.pms.dao.TeamDao">
    <resultMap type="Team" id="TeamMap"> 
        <id column="name" property="name"/>
        <result column="dscrt" property="description"/>
        <result column="max_qty" property="maxQty"/>
        <result column="sdt" property="startDate"/>
        <result column="edt" property="endDate"/>
    </resultMap>

  <!-- SQL문 id를 설정할 때 SQL문을 사용하는 함수 이름과 같게하면 유지보수할 때 알아보기 쉽다. -->
  <!-- 알아보기쉬운 것 뿐만이 아니라 스프링과 연동할 때 DAO를 자동 생성하고 메소드를 자동생성할 때 사용할 수 있다. -->
  <select id="selectList"  resultMap="TeamMap" parameterType="HashMap">
    select name,dscrt,max_qty,sdt,edt from pms2_team <!-- limit #{startIndex}, #{pageSize} -->
  </select>
  
  <insert id="insert" parameterType="Team">
    insert into pms2_team(name,dscrt,max_qty,sdt,edt) 
    values(#{name}, #{description}, #{maxQty}, #{startDate}, #{endDate});
  </insert>
  
  <select id="selectOne" resultMap="TeamMap" parameterType="String">
      select * from pms2_team where name = #{name}
  </select>
  
  <update id="update" parameterType="Team">
    update pms2_team set name=#{name}, dscrt=#{description}, max_qty=#{maxQty}, sdt=#{startDate}, edt=#{endDate}
    where name=#{name}
  </update>
  
  <delete id="delete" parameterType="String">
    delete from pms2_team where name = #{name}
  </delete>
</mapper>