<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다음과 같이 DAO 클래스 이름과 같게하면 유지보수할 때 알아보기가 쉬워진다. -->
<!-- 알아보기가 쉬운 것뿐만이 아니라 스프링과 연동할 때 DAO 객체를 자동 생성이 가능하다. -->

<mapper namespace="bitcamp.java106.pms.dao.BoardDao">

    <resultMap type="Board" id="boardMap"> 
        <id column="bno" property="no"/>
        <result column="titl" property="title"/>
        <result column="cont" property="content"/>
        <result column="cdt" property="createdDate"/>
    </resultMap>

  <!-- SQL문 id를 설정할 때 SQL문을 사용하는 함수 이름과 같게하면 유지보수할 때 알아보기 쉽다. -->
  <!-- 알아보기쉬운 것 뿐만이 아니라 스프링과 연동할 때 DAO를 자동 생성하고 메소드를 자동생성할 때 사용할 수 있다. -->
  <select id="selectList"  resultMap="boardMap" parameterType="HashMap">
    select bno, titl, cdt from pms2_board <!-- limit #{startIndex}, #{pageSize} -->
  </select>
  
  <insert id="insert" parameterType="Board" useGeneratedKeys="true" keyColumn="bno" keyProperty="no">
    insert into pms2_board(titl, cont, cdt) values(#{title}, #{content}, now());
  </insert>
  
  <!-- parameterType이 primitive 타입이거나 wrapper클래스, String클래스인 경우? -->
  <!-- 기본적으로 제공되는 숏네임을 사용할 수 있다. -->
  <select id="selectOne" resultMap="boardMap" parameterType="int">
      select bno, titl, cdt from pms2_board where bno = #{no}
  </select>
  
  <update id="update" parameterType="Board">
    update pms2_board set titl=#{title}, cont=#{content}, cdt=now() where bno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pms2_board where bno = #{no}
  </delete>
  
</mapper>